@import "compass/reset";
@import "compass/css3";

@mixin inline-block2{
	display:inline-block; _display:inline;
}

@mixin opacity2($opacity){
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity={$opacity*100});
  	opacity: $opacity;
}

$default-font-size:20px;
@function pxToRem($px){
	@return ($px / $default-font-size / 2) * 1rem;
}
html,body{ height:100%; font-size:$default-font-size;}
body{ background:url(../images/bg-page.png) no-repeat; background-size: 100% 100%; }

.form-wrap{ width:pxToRem(634px); height:pxToRem(719px); margin:pxToRem(155px) auto 0 auto; background:url(../images/bg-hj.png) no-repeat; background-size:100% 100%;
	p{position: relative; }
	input{color:#fff; height:pxToRem(50px); width:pxToRem(320px); position: relative; line-height:pxToRem(50px); outline:none; font-size:pxToRem(38px); border:none; background-color:transparent;  }
	input::-webkit-input-placeholder { color:#13517d;}
	input::-moz-placeholder { color:#13517d;}
	input::-ms-input-placeholder { color:#13517d;}
	>input:nth-child(1){ top:pxToRem(300px); margin-left:pxToRem(168px); }
	>input:nth-child(2){ top:pxToRem(385px); margin-left:pxToRem(168px);}
	>input:nth-child(3){ width:pxToRem(423px); height:pxToRem(73px); top:pxToRem(494px); background:url(../images/btn-login.png) no-repeat; background-size:100% 100%; margin-left:pxToRem(106px); }
	.active{ background-image:url(../images/btn-login-hover.png);}
}
.fire{ margin:0 auto; width:pxToRem(240px); height:pxToRem(301px); background:url(../images/fire.gif) no-repeat; background-size:100% 100%;}

@media screen and (min-width: 320px) and (max-width:360px) {
    html {font-size: 18px;}
}

.menu li{ box-shadow:1px 1px 5px 5px red; @include opacity2(0.2); }
