/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../assets/sass/cfh-2.scss */
html, body {
  height: 100%;
  font-size: 20px;
}

/* line 18, ../assets/sass/cfh-2.scss */
body {
  background: url(../images/bg-page.png) no-repeat;
  background-size: 100% 100%;
}

/* line 20, ../assets/sass/cfh-2.scss */
.form-wrap {
  width: 15.85rem;
  height: 17.975rem;
  margin: 3.875rem auto 0 auto;
  background: url(../images/bg-hj.png) no-repeat;
  background-size: 100% 100%;
}
/* line 21, ../assets/sass/cfh-2.scss */
.form-wrap p {
  position: relative;
}
/* line 22, ../assets/sass/cfh-2.scss */
.form-wrap input {
  color: #fff;
  height: 1.25rem;
  width: 8rem;
  position: relative;
  line-height: 1.25rem;
  outline: none;
  font-size: 0.95rem;
  border: none;
  background-color: transparent;
}
/* line 23, ../assets/sass/cfh-2.scss */
.form-wrap input::-webkit-input-placeholder {
  color: #13517d;
}
/* line 24, ../assets/sass/cfh-2.scss */
.form-wrap input::-moz-placeholder {
  color: #13517d;
}
/* line 25, ../assets/sass/cfh-2.scss */
.form-wrap input::-ms-input-placeholder {
  color: #13517d;
}
/* line 26, ../assets/sass/cfh-2.scss */
.form-wrap > input:nth-child(1) {
  top: 7.5rem;
  margin-left: 4.2rem;
}
/* line 27, ../assets/sass/cfh-2.scss */
.form-wrap > input:nth-child(2) {
  top: 9.625rem;
  margin-left: 4.2rem;
}
/* line 28, ../assets/sass/cfh-2.scss */
.form-wrap > input:nth-child(3) {
  width: 10.575rem;
  height: 1.825rem;
  top: 12.35rem;
  background: url(../images/btn-login.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 2.65rem;
}
/* line 29, ../assets/sass/cfh-2.scss */
.form-wrap .active {
  background-image: url(../images/btn-login-hover.png);
}

/* line 31, ../assets/sass/cfh-2.scss */
.fire {
  margin: 0 auto;
  width: 6rem;
  height: 7.525rem;
  background: url(../images/fire.gif) no-repeat;
  background-size: 100% 100%;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  /* line 34, ../assets/sass/cfh-2.scss */
  html {
    font-size: 18px;
  }
}
/* line 37, ../assets/sass/cfh-2.scss */
.menu li {
  box-shadow: 1px 1px 5px 5px red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity={$opacity*100});
  opacity: 0.2;
}
